$max-width: 1280px !default;

$breakpoints: (
  "mobile": (
    max-width: 320px,
  ),
  "tablet": (
    max-width: 767px,
  ),
  "laptop": (
    max-width: 999px,
  ),
  "desktop": (
    max-width: 1279px,
  ),
) !default;
