/* _-_-_- modules/BUTTONS -_-_-_ */
.controls {
    width: 70vmin;
    display: flex;
    justify-content:space-between;
    gap: rem(20);
    padding-bottom: rem(30);
    @include respond-to("tablet"){
        flex-wrap: wrap;
        padding-bottom: rem(10);
    }


    // .controls__new

    &__new {
    }

    // .controls__save

    &__save {
    }

    // .controls__result

    &__result {
    }
}
.score {
    width: 70vmin;
    display: flex;
    justify-content:space-between;
    gap: rem(20);
    font-size: rem(30);
    padding-bottom: rem(40);
    @include respond-to("tablet"){
        font-size: rem(15);
        gap: rem(15);
        justify-content:space-between;
        padding-bottom: rem(10);
    }

    // .score__time

    &__time {
        & span:nth-child(2){
            display: inline-block;
            width: rem(100);
            text-align: end;
            @include respond-to("tablet"){
                width: 20px;
            }
        }
    }

    // .score__moves

    &__moves {
        & span:nth-child(2){
            display: inline-block;
            width: rem(60);
            text-align: end;
            @include respond-to("tablet"){
                width: 20px;
            }
        }
    }
}

button{
    width: rem(200);
    height: rem(60);
    color: white;
    border-radius: 10px;
    border: solid white 3px;
    cursor: pointer;
    font-size: rem(16);
    background-color: #bdae82;
    @include respond-to("tablet"){
        width: 40%;
        height: rem(40);
        font-size: rem(12);
    }
}
select{
    width: rem(200);
    height: rem(60);
    font-size: rem(16);
    color: white;
    border-radius: 10px;
    border: solid white 3px;
    background-color: #bdae82;
    text-align: center;
    @include respond-to("tablet"){
        width: 40%;
        height: rem(40);
        font-size: rem(12);
    }
}
